<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-item nav-link" routerLink="/courses" routerLinkActive="active">Courses</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
