<div class="row m-5">
  <h3>{{title}}</h3>
<table class="table table-bordered table-responsive">
<thead id="coursesTblHead" class="thead-dark">
<tr>
  <th>ID</th>
  <th>Dept</th>
  <th>Course Number</th>
  <th>Course Name</th>
  <th>Instructor</th>
  <th>Course Details</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let course of courses">
  <td>{{course.id}}</td>
<td>{{course.dept}}</td>
<td>{{course.courseNum}}</td>
<td>{{course.courseName}}</td>
<td>{{course.instructor}}</td>
<!-- routerLink="{{detailsUrl}}{{course.id}} -->
<td><a [routerLink]="['/course-details', course.id]">{{course.courseName}} Course Details</a></td>
</tr>
</tbody>
</table>
<!-- <ng-template #noCourses>
  <p *ngIf="noCoursesBool">No Courses Available</p>
  </ng-template> -->
</div>
